<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">

      <link rel="stylesheet" href="static/bootstrap.min.css">
      <link rel="stylesheet" href="static/styleszm2.css">

      <title>Milestone-2</title>
    </head>

    <body>
      <div class="container">

            <h1 class="bg-warning">
            <blockquote class="blockquote text-center">
               Welcome to my random food pick of the moment!
            </blockquote>
            </h1>
            
             <div class="text-center">
              <figure>
              <img class="img-fluid rounded-circle" src={{img2}}/ alt="Picture of batman">
              
              <figcaption class="align-top text-center text-danger bg-dark">BATMAN HERE! BELOW YOU FIND A LIST OF INGREDIENTS NEEDED TO MAKE MY FAVORITE DISH</figcaption>
            
              </figure>
              </div>
              
              <div class="text-center">
              <h4 class = 'bg-dark text-success'>{{ing}}</h4>
              </div>
              
               <div class="text-center">
              <figure>
              <img class="img-fluid rounded-circle" src={{img}}/ alt="Picture of the food receipt">
              
              <figcaption class="align-top text-center text-danger bg-dark">HERES A PICTURE OF MY FAVORTIE DISH</figcaption>
            
              </figure>
              
                
              <h3 class="align-top text-center text-warning bg-white">Below you will find the name of the dish</h3>
              
              <blockquote class="blockquote text-center">
              <span class="border border-info text-success bg-dark rounded">{{title}}</span>
              </blockquote>
              
              <h5 class="align-top text-center text-warning bg-white">Below you will find the source website where you can find the recept for this dish</h5>
              <blockquote class="blockquote text-center">
              <span class="border border-info text-success bg-dark rounded">{{sWB}}</span>
              </blockquote>
              
              </div>
              
             <h5 class="align-top text-center text-warning bg-white">And heres a tweet about the food item along with its author and creation time</h5>
             <blockquote class="blockquote text-center bg-dark rounded text-warning">
              <ul>
              <li>{{tw}}</li>
              <li>{{tc}}</li>
              <li>{{ta}}</li>
              </ul>
             </blockquote>
          
         

    

    </div>
    </body>



</html>
